nav ul {
  background-color: #50b7f5;
  list-style: none;
  width: 100%;
  left: 0px;
  top: 0px;
  margin-top: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0975);
  justify-content: space-around;
  box-sizing: border-box;
  display: flex;
  position: fixed;

}



.nav-link{
  text-decoration: none;
  font-size: 12pt;
  width: 80px;
  height: 40px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  background-color: #50b7f5;

}

#logo{
  background: none;
  font-family: "Fantasy", copperplate;
  font-size: 30px;
}

#nav-button{
  background-color: #50b7f5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fantasy", copperplate;
  flex-direction: column;
  font-size: 20px;

}

#blackout{
  background-color: #50b7f5;
}

.navbar-logout{
  font-size: 20px;
}
