.post-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 10px; */
  /* width: auto; */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 27px;
  font-family: "Monospace";
  color: #50b7f5;
  font-weight: bold;
  text-shadow: -1px 1px 0 rgb(83, 82, 82), 1px 1px 0 rgb(83, 82, 82),
    1px -1px 0 rgb(83, 82, 82), -1px -1px 0 rgb(83, 82, 82);
}

.individual-post {
  /* width: 100%; */
  overflow: none;
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  width: 730px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fantasy", copperplate;
  font-size: 35px;
  /* border: 1px solid black; */
  box-shadow: 0 0 11px #50b7f5;
  border-color: #50b7f5;
  /* margin: 10px 5px; */
  overflow: scroll;
  /* padding: 10px; */
  background-color: white;
  margin: 10px;
}

.newPost-form {
  display: flex;
  flex-direction: column;
}

.post-username{
  display: flex;
  justify-content: flex-end;
  font-family: "Fantasy", copperplate;
  font-size: 20px;
  background-color: white;
  padding-right: 15px;
  /* box-shadow: 0 0 11px #50b7f5; */
}

.edit-delete{
  display: flex;
  justify-content: flex-end;
}
