#login-form{
    font-family: "Fantasy", copperplate;
    color: white;
    font-weight: bold;
}

.login-button{
    margin-left: 3px;
}

#login-error{
    color: rgb(253, 60, 60);
    font-weight: bold;
    font-family: "Fantasy", copperplate;
}
